.container {
  width: 60%;
  margin: auto;
  background-color: rgb(64, 226, 64);
  box-shadow: 5px 5px 2.5px rgb(17, 204, 17);
  margin-top: 50px;
  padding: 20px;
  border-radius: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.capitalize {
  text-transform: capitalize;
}
